@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Tangerine&display=swap');

body {
  background-color: #eef1f3 !important;
}
.heroList-Navbarform-div {
  justify-content: flex-end;
}
body.modal-open {
  padding-left: 400px;
}
.filter-title {
  font-size: 2rem !important;
  font-weight: 500 !important;
  color: rgb(66, 66, 66);
  text-align: center !important;
  display: flex !important;
  justify-self: center !important;
  align-self: center !important;
  justify-content: center !important;
  align-content: center !important;
}
.offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem !important;
}

.checkboxes-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.checkboxes-div > label > span {
  padding: 3px !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  margin: 1rem 0 !important;
}
.Submit-filter-button {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0 !important;
}
.offcanvas-header {
  padding: 0 1rem !important;
}
tr > th {
  color: rgb(124, 124, 124) !important;
  background-color: #f7f8f9 !important;
  border-bottom: 2px solid rgb(238, 238, 238) !important;
}
.tbody {
  border-top: 2px solid #f7f8f9 !important;
  padding: 1rem !important;
}
.table > :not(:first-child) {
  border-top: 1px solid #f7f8f9 !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: white !important;
}
.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
  font-size: 2.5rem;
  padding: 0rem 1rem;
  font-family: 'Lato', sans-serif;
}
.offcanvas {
}
